/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 0px;
    right : 0px;
/* Penser à bien modifier les écarts : ils sont faux ici. 
Penser à ajouter la ligne bleue au dessus de "hébergements" et "activité"
Mettre logo dans coin gauche+réduit */
}


a:hover {
    color: #0065FC;
    
}
  
ul {
    display: flex;
    margin: 0px;
    padding: 0px;

}
  
li {
    display: flex;
    margin-right: 50px;
    padding-top: 17px;
}
  
li:hover {
    border-top: 2px solid #0065FC;
}

.top-logo {
    width: 61.09px;
    height: 19px;
    padding: 30px 50px 30px 50px;
    gap: 10px;
}

/* Trouvez un hébergement pour des vacances de rêve
Essayer de voir si je peux fixer ça, trop sur la gauche */

.under-header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;

}
    

.trouvez-hebergement{
    width: fill 1340px;
    width: fixed 53px;
    gap: 8px;

}

.trouvez-title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 25,83px;
    letter-spacing: 0em;
    text-align: left;
    
}

.trouvez-txt {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18,78px;
    letter-spacing: 0em;
    text-align: left;

}

/* Section de recherche */

.location-icon {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
    
    
}


.search-bar {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    
}

.search-bar input {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    color: black;
    width: 195px;
    height:  49px;
    gap: 10px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: none;
    outline: none;
}

/* Pour bien fit la barre de recherche avec le bouton, j'ai repris des éléments de code
du bouton. */
.search-bar button {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    width: 132px;
    height:  49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    gap: 10px;
    background-color: #0065FC;
    border: 1px #0065FC;
    margin-left: -5px;

}

/* Section Filtres */
.filters-section {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.filter {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

}



.price {
    font-family: Raleway;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width:  173px;
    height:  50px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px;
    gap: 10px;
    border: 2px solid #D9D9D9

}

.family {
    font-family: Raleway;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 134px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px;
    gap: 10px;
    border: 2px solid #D9D9D9
}

.romantic {
    font-family: Raleway;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 170px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px;
    gap: 10px;
    border: 2px solid #D9D9D9
}

.fire {
    font-family: Raleway;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    width: 167px;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px;
    gap: 10px;
    border: 2px solid #D9D9D9
}

.filters-section form :hover{
background-color: #DEEBFF;
}

/* 500 logements */

/* .info-icon-circle {
display: flex;
justify-content: flex-start;
width: 24px;
height: 24px;
border: 1px solid #D9D9D9;
border-radius: 50%;

}

.info-icon {
display: flex;
justify-content: flex-start;
}

.info-lgmt {
font-family: Raleway;
font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0em;
text-align: left;

} */



/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    padding: 30px;
    gap: 30px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}