/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

.black {
    color:black;
}

.blue {
    color:#0065FC;
}

body {
    display: flex;
    justify-content: center;
    margin:0;
    padding:0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/* SECTION HEADER */

header {
    display: flex;
    justify-content: space-between;
}

.top-logo {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    width: 61px;
    height: 19px;
    padding: 30px 50px 30px 0px;
    gap: 10px;
}

header nav ul {
    display: flex;
    gap: 60px;
    margin: 0px 0px 20px 0px;
    padding: 0px 0px 20px 0px;

}



header nav li {
    display: flex;
    padding-top: 17px;
    border-top: 2px solid transparent;
}

header nav li:hover {
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

/* SECTION MAIN */

.trouvez-hebergement{
    gap: 8px;

}

.trouvez-title {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 25.83px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: -10px;
}

.trouvez-txt {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 18.78px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 30px;
}

/* BARRE RECHERCHE */

.location-icon {
    display: flex;
    justify-content:center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 49px;
    border-radius: 15px 0px 0px 15px;
}

.recherche form {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 35px;

}

.recherche input {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    text-align: center;
    width: 195px;
    height: 49px;
    border-top: 1px solid #F2F2F2;
    border-bottom: 1px solid #F2F2F2;
    border-left: 1px solid #F2F2F2;
    border-right: none;
    outline: none;
}

.recherche input::placeholder {
    color:black
}

.recherche button {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: white;
    width: 132px;
    height:  49px;
    padding: 15px 16px 15px 16px;
    border-radius: 0px 15px 15px 0px;
    border: 1px;
    gap: 10px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    margin-left: -5px;

}

#loupe {
    display: none;
    text-align: center;
    color: white;
    left: 328px;
    padding: 15px 16px 15px 16px;
    border-radius: 15px;
    border: 1px;
    gap: 10px;
    background-color: #0065FC;
    border: 1px solid #0065FC;
    box-shadow: 0px 4px 4px 0px #00000040;
    margin-left: -5px;
}

/* SECTION FILTRES */
.filters-section {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 30px;
}

.filter {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;

}

.filters-section i {
    margin-right : 10px;
}

.price,
.family,
.romantic,
.fire {
    font-family: Raleway;
    background-color: white;
    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    height: 50px;
    padding: 4px 19px 4px 19px;
    border-radius: 25px;
    border: 2px solid #D9D9D9;

}

.button-group-1 {
    margin-right: 5px;
}

.button-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;


}

.filters-section button:hover{
    background-color: #DEEBFF;
}

/* 500 LOGEMENTS */

.info-lgmt {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.info-icon-circle i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #D9D9D9;
    border-radius: 50%;

}

.info-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-lgmt p {
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
}


/* SECTIONS HEBERGEMENTS ET POPULAIRES */
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}


.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/* SECTION HEBERGEMENTS */
.hebergements {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
}

h2 {
    font-family: Raleway;
    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
    padding: 0;
    margin: 0;

}

.hebergements-line-1,
.hebergements-line-2 {
    display: flex;
    gap:30px;

}

.hebergements-cards a {
    width: 100%;
    word-wrap: break-word;

}

.hebergements-cards .card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    margin-top: 33px;
    padding: 0px 0px 10px 0px;
    gap: 4px;
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.hebergements-cards img {
    width: 100%;
    height: 110px;
    object-fit:cover;
    border-radius: 20px 20px 0px 0px;
    border: 5px solid white;
    box-sizing: border-box;

}

.hebergements-cards .card-content {
    padding-left: 15px;
}

.hebergements .card-txt {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    box-sizing: border-box;
    gap: 10px;
    padding: 0px 0px 5px 0px;
}

.hebergements h3 {
    margin: 0px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    word-wrap: break-word;

}

.hebergements-cards .card-subtitle {
    margin: 0%;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    font-family: Raleway;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;

}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.show-more {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 30px;

}

/* SECTION POPULAIRES */
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}


/* SECTION ACTIVITES */

.activites {
    max-width: 100%;
    width: 98%;
    height: 100%;
    padding: 50px 0px 20px 0px;
    gap: 30px;
    display: flex;
    flex-direction: column;
}

.activites-cards {
    display: flex;
    justify-content:space-between;
    flex-direction:row;
    flex-wrap: nowrap;
    max-width: 100%;
    padding: 30px 0px 30px 0px;
    gap: 15px;

}

.activites .card {
    padding: 0px 0px 5px 0px;

}


.activites img {
    max-width: 100%;
    width: 297.5px;
    height: 380px;
    border-radius: 20px 20px 0px 0px;
    border:none;
    object-fit: cover;

}

.activites span {
    display: flex;
    font-weight: 700;
    padding: 15px;

}

/* SECTION FOOTER */

footer {
    max-width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: row;
    background-color: #F2F2F2;
    padding-bottom: 20px;
}

footer div {
    width: 30%;
    margin-top: 1.5%;
    margin-left: 1.5%;
}


footer h3 {
    font-family: Raleway;
    font-size: 18px;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;
}

footer a {
    display: flex;
    flex-direction: column;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-bottom: 15px;

}


/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

/* SECTION FILTRES */
.filters-section {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
}

.filter {
margin-bottom: 5px;
}

/* SECTION HEBERGEMENTS ET POPULAIRES */
.hebergements-and-populaires {
    flex-direction: column;
}

/* SECTION HEBERGEMENTS */
.hebergements {
    width: 100%;
}

/* SECTION POPULAIRE */
.populaires {
    width: 100%;
    margin-top: 50px;
}

.populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.populaires-cards .card {
    margin-top: 20px;
}

.populaires-cards a {
    width: 30%;
}

.populaires-cards .card-title {
    font-size: 14px;
}

.populaires-cards .card-subtitle {
    font-size: 13px;
}

/* SECTION ACTIVITES */
.activites {
    width: 924px;
    height: 390px;
}

.activites-cards {
    height: 270px;
}
 
.activites img {
    height: 193px;
    
}


}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
/* SECTION HEADER */
header {
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-logo {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-left:50px;
}

header nav {
    width: 100%;
}

header nav ul {
    align-items: flex-end;
    gap:0px;
    margin-bottom: 0px;

}

header nav li {
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    padding-bottom: 17px;
    border-bottom: 2px solid #F2F2F2;
}

header nav li:hover {
    border-top: none;
    border-bottom: 2px solid #0065FC;
}

/* SECTION MAIN */
.main-container {
    padding: 0px;
}

/* SECTION BARRE RECHERCHE */
.recherche {
    margin : 20px;
}

.recherche input {
    width: 100%;
}

.recherche button {
    display: none;
}


#loupe {
    display: flex;
}

/* SECTION FILTRES */

.filters-section i {
    margin-right : 6px;
}

.filters-section {
    margin : 10px;
}


.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.button-group-1,
.button-group-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 0px 0px 20px 0px;
    margin:0px;
    justify-content: space-between;

}

.price,
.family,
.romantic,
.fire {
    box-sizing: border-box;
    width: 47%;
    font-size: 14px;
}


button {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

}

/* 500 LOGEMENTS */

.info-lgmt {
    margin:10px;
}




/* SECTIONS HEBERGEMENTS ET POPULAIRES */

.hebergements-and-populaires {
    flex-direction: column-reverse;
}

.hebergements-and-populaires section {
    border-radius: 0px;
    padding: 20px !important;
}

/* SECTION POPULAIRES */
.populaires {
    margin: 30px 0px 0px 0px;
}

.populaires-cards {
    flex-direction: column;
}

.populaires-cards a {
    width: 100%;
}

/* SECTION HEBERGEMENTS */
.hebergements {
    background-color: white !important;
    flex-direction: column;
    width: 100%;
}

.hebergements-main-title {
    margin: 10px;
}

.hebergements-line-1,
.hebergements-line-2 {
    flex-direction: column;
    gap:0px;
}


.show-more {
    margin: 10px;
}
/* SECTION ACTIVITES */

.activites {
    width: auto;
    height: auto;
    margin: 20px;
    gap:0px;
}

.activites-cards {
    flex-direction: column;
    height: auto;
}

.activites img {
    width: 100%;
}

/* SECTION FOOTER*/
footer {
    flex-direction: column;
    
}

footer div {
    width: 97%;
}

}